

body
{
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size:"cover";

}

.profile-button
{

    margin-right: 5%;
    background-color: #3f8ca4;
    border-radius: 15%;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
  
}
input
{
	background-color: azure;
}
.img {
  
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width:  250px;
    height: 250px;
    background-position: 100% 100%;
    background-repeat:   no-repeat;
    background-size:     cover;
}



.pictures
{padding-top: 2%;
  border:white 3px solid;
  background-image: linear-gradient(rgb(1, 1, 68),rgb(5, 5, 107),rgb(77, 77, 145));
    background-color: rgb(1, 1, 68);
    padding-bottom: 4%;
}

h1{
    color: whitesmoke;
}


  a
  {
      color:darkblue !important;
      font-weight: bold;
      font-size: large;
  }

  body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    display: none;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    
    overflow-x: hidden;
    padding-top: 60px;
    background: linear-gradient(194deg, #1ed0a2, #3452b2, #1a255f);
    background-size: 600% 600%;

    -webkit-animation: sidenav 5s ease infinite;
    -moz-animation: sidenav 5s ease infinite;
    animation: sidenav 5s ease infinite;
    display: block;
color: white !important;
padding: 2% !important;  
    padding-top: 2% !important;
width: 25% !important;
padding-top: 8% !important;
  }
  
  .main
  {
    height: 30% !important;
    width:30% !important;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

 


@-webkit-keyframes sidenav {
    0%{background-position:11% 0%}
    50%{background-position:90% 100%}
    100%{background-position:11% 0%}
}
@-moz-keyframes sidenav {
    0%{background-position:11% 0%}
    50%{background-position:90% 100%}
    100%{background-position:11% 0%}
}
@keyframes sidenav {
    0%{background-position:11% 0%}
    50%{background-position:90% 100%}
    100%{background-position:11% 0%}
}

h5
{
  padding: 2%;
}

.Confirm
{
    background-color: green;
    color: white;
}

.Reject
{
    background-color: red;
    color: white;
}

table
{
    color: white !important;
}

h1
{
    color: white !important;

}

a
{
    text-decoration: none !important;
    color: white !important;
}

.chat
{
color: #100e42 !important;
background: white;
border-radius: 15%;
padding: 2%;
}

.app
{
  
    color: white !important;
    background: #e81919;
    border-radius: 15%;
    padding: 2%;
}

