<!DOCTYPE html> 
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css.css') }}"/>
 <link href="static/css.css" type="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<!-- Image and text -->

  <body >

    <nav class="navbar ">
      <a class="navbar-brand" href="#" style="color:white !important">
        <img src="static/homepage/logo.png" width="60" height="60"  alt="">
    <em> Amzyee</em>
      </a>
    </nav>
<br><br><br>
<div class="container mt-5 mb-3 pictures"  style="width:fit-content;">
      <center>
        <h1><u>Please Choose ! </u></h1>
       
      
      <form>
          <div class="container" >
       <div class="row">
    
      
          <div class="col-6">
            <div class="col flip-card c">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img  alt="Patient" src="static/homepage/patient.PNG"  class="img">
                </div>
                <div class="flip-card-back">
                  <br>
                  <br>
                  <h1><u>Patient</u></h1>
                    <br>
                      <button class="login-button"><a href="{{ url_for('PatientLogin') }}">Login</a></button>

                  <br>
                  <br>
                 <a class="Register" href="{{ url_for('Patientregister') }}">Register Here</a>
                
              </div>
            </div>
            
              </div>
   
     
     
      </a>
          </div>
      
          <div class="col-6">
            <div class="col flip-card c">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img  alt="Doctor" src="static/homepage/doctor.PNG"  class="img">
                </div>
                <div class="flip-card-back">
                  <br>
                  <br>
                  <h1><u>Doctor</u></h1>
                    <br>
                   <button class="login-button"><a href="{{ url_for('DoctorLogin') }}">Login</a></button>
                  <br>
                  <br>

                     <a  class="Register"  href="{{ url_for('DoctorRegister') }}">Register Here</a>
                
              </div>
            </div>
            
              </div>
     
      
     
      </a>
          </div>
        </div>
        </div>
      </form>
</div>
</center>
      

<br><br><br><br>
    



 
    
  </div>
</div>








<br><br><br><br>









  
 





</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  </body>


    </html>

    
